<%- include("header2.ejs") %>

<div class="final-div">
	<table border="1">
		<tr>
		    <td>
			   <strong>First question</strong>
			</td>
			<td>
			  <% if(user.answers[0]==="Blue"){ %>
					 <i class="fas fa-check-circle" style="margin-right:.5rem"></i>Correct answer
				<% } else{ %>
				   <i class="fas fa-times-circle" style="margin-right:.5rem"></i>Wrong answer
				<% } %>
 			</td>
		</tr>
		<tr>
		    <td>
			   <strong>Second question</strong>
			</td>
			<td>
			  <% if(user.answers[1]==="1947"){ %>
					 <i class="fas fa-check-circle" style="margin-right:.5rem"></i>Correct answer
				<% } else{ %>
				   <i class="fas fa-times-circle" style="margin-right:.5rem"></i>Wrong answer
				<% } %>
 			</td>
		</tr>
	</table>
</div>
