<%- include("header2.ejs") %>

<div class="questionandprogress">
	     <% if(answercount === 0){ %>
		  <p class="question-para">
			Question 1
		  </p>
	    <% }else{ %>
		<p class="question-para">
		  Question 2
		 </p>
	    <% } %>
		<div class="progressbar-container">
		<div class="first-part"></div>
		<div class="second-part"></div>
	</div>
</div>
<div class="container">

	<% if(answercount === 0){ %>
	  
	  <div class="first">
		<h2>
	What is the color of the sky
   </h2> 
	<ul class="question1-options">
		<li>
			<input type="radio" id="Green" name="select" value="Green" class="q1o">
           <label for="Green">Green</label><br>
		</li>
		<li>
		   <input type="radio" id="Blue" name="select" value="Blue" class="q1o">
           <label for="Blue">Blue</label><br>
		</li>
		<li>
			<input type="radio" id="Orange" name="select" value="Orange" class="q1o">
           <label for="Orange">Orange</label><br>
		</li>
		<li>
			<input type="radio" id="white" name="select" value="white" class="q1o">
           <label for="white">White</label>
		</li>
	</ul>

</div>
	
	<div class="second">
				<h2>
       	In which year India get Independence?
             </h2>
	<ul class="question1-options">
		<li>
			<input type="radio" id="a1948" name="select1" value="1948" class="q2o">
		   <label for="male">1948</label><br>
		</li>
		<li>	
		  <input type="radio" id="a1945" name="select1" value="1945" class="q2o">
		  <label for="female">1945</label><br>
		</li>
	      <li>
			  <input type="radio" id="a1947" name="select1" value="1947" class="q2o">
			  <label for="other">1947</label><br>
		</li>
        <li>
		       <input type="radio" id="a1949" name="select1" value="1949" class="q2o">
	         <label for="other">1949</label>
		</li>
	 
		</ul>
  </div>
	<% }else{ %>
		<div style="padding-top:1rem">
				<h2>
       	In which year India get Independence?
             </h2>
		<ul class="question1-options">
			<li>
				<input type="radio" id="a1948" name="select1" value="1948" class="q2o">
			   <label for="male">1948</label><br>
			</li>
			<li>
				<input type="radio" id="a1945" name="select1" value="1945" class="q2o">
                <label for="female">1945</label><br>
			</li>
			<LI>
				 <input type="radio" id="a1947" name="select1" value="1947" class="q2o">
				  <label for="other">1947</label><br>
			</LI>
			<li>
				  <input type="radio" id="a1949" name="select1" value="1949" class="q2o">
	             <label for="other">1949</label>
			</li>
			</ul>
  </div>
	<% } %>
	<button class="next" disabled>Next</button>
</div>




<h2>
	
</h2>
<%- include("footer.ejs") %>